@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
/* html, body {
    margin: 0;
    padding: 0;
    height:100%;
} */
/*--------------------盒模型div--------------------*/
/*div {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: red;
}
*/
div.titleBar {
    display: flex;
    height: 100px;
    /*width: 90%;*/
    background-color: lightblue;
}

div.content {
    margin-top: 28px;
    width: 70%;
    text-align: right;
    outline-color: black;
}

div.SideBar {
    width: 30%;
    text-align: left;
}

div.studyContent {
    /*background-color: none;*/
    float: right;
    width: 60px;
}

div.chats {
    display: flex;
    flex-direction:column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.picture {
    text-align: right;
}

.titleBarLeft {
    text-align: center;
}


.footer {
    text-align: center;
    background-color: #66ccff;
}
/*--------------------盒模型span--------------------*/
span.new {
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
    color: #fff;
    background-color: #90b575;
    font-weight: 700;
    border: 1px solid #fff;
    outline: 1px solid #90b575;
    line-height: 16px;
    padding-right: 5px;
}

span.easy {
    border-radius: 15px;
    background-color: #06e248;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: white;
}

span.medium {
    border-radius: 15px;
    background-color: #f0b512;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: white;
}

span.hard {
    border-radius: 15px;
    background-color: #ff0000;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: white;
}
/*--------------------链接--------------------*/
a:link {
    /*应用于处于未访问状态的链接*/
    color: green;
}

a:visited {
    /*应用于已访问的链接*/
    color: red;
}

a:hover {
    /*悬停在连接上时可以使用这个选择器制造更多效果*/
    background: yellow;
    color: blue;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

div.chats .a_href {
    text-decoration: none;
    color: grey;
}

/*子孙选择器栗子*/
div.studyContent a {
    text-decoration: none;
    color: saddlebrown;
    font-size: 1em;
}

.footer a {
    font-size: 21px;
}

table.dataInTable a {
    color: rgb(0, 0, 255);
    font-size: 1em;
}
/*--------------------HTML标题--------------------*/
h1 {
    font-size: 200%;
    color: white;
    font-family: 'Fruktur', cursive;
    text-shadow: 2px 2px 2px black,
    0 0 20px #66ccff;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    border-bottom: thick dashed #888888;
    color: black;
}
/*--------------------引用&强调--------------------*/
q {
    font-style: italic;
}

#noob {
    font-family: "Emblema One",cursive, serif;
    color: maroon;
    font-size: 21px;
}

b {
    font-family: serif;
}

b.emphasis {
    font-family: cursive, serif;
    font-size: large;
}

blockquote {
    color: #cc6600;
    text-decoration: underline;
}

/*--------------------表格--------------------*/
table.dataInTable {
    margin-top: 10px;
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
}

table.dataInTable th {
    vertical-align: center;
    text-align: left;
    line-height:2em;
    background-color: white;
    border: 1px solid grey;
}

table.dataInTable td {
    vertical-align: center;
    line-height: 2em;
    border: 1px solid grey;
}

table.dataInTable tr:nth-child(odd) {
    background-color: #bbe4ff;
}

table.dataInTable tr:nth-child(even) {
    background-color: white;
}

table.dataInTable span {
    font-family: cursive, serif;
    font-weight: bold;
}

table.dataInTable span.notSupported {
    font-family: monospace;
    font-size: large;
    color: red;
}
