

/*div {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: red;
}
*/
div.titleBar {
    display: flex;
    height: 100px;
    /*width: 90%;*/
    background-color: lightblue;
}

div.content {
    margin-top: 28px;
    width: 70%;
    text-align: right;
    outline-color: black;
}

div.SideBar {
    width: 30%;
    text-align: left;
}

div.studyContent {
    background-color: #66ccff;
    float: right;
    width: 60px;
}

div.chats {
    display: flex;
    flex-direction:column;
    width: 600px;
    margin-left: 30%;
}

.picture {
    text-align: right;
}

.titleBarLeft {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

div.chats .a_href {
    text-decoration: none;
    color: grey;
}

/*子孙选择器栗子*/
div.studyContent a {
    text-decoration: none;
    color: saddlebrown;
    font-size: 1em;
}

div.bodys {
    text-align: center;
    background-color: #66ccff;
}

h1 {
    font-size: 200%;
    color: black;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    border-bottom: thick dashed #888888;
    color: black;
}

q {
    font-style: italic;
}

#noob {
    font-family: "Emblema One",cursive;
    color: maroon;
}

b {
    font-family: serif;
}

b.emphasis {
    font-family: cursive;
    font-size: large;
}

blockquote {
    color: #cc6600;
    text-decoration: underline;
}
