@import "../../assets/less/app";

.body-container {
  max-width: 1260px;
  width: 100%;
  margin: 15px auto 0;
}

.body-container:after {
  content: "\200B";
  display: block;
  height: 67px;
  clear: both;
}